.about {
	background-color: white;
	// margin: 2em;

	@media only screen and (max-width: $bp-small) {
		padding: 1rem;
	}

	&__text {
		&--1 {
			// margin: 2rem;
			margin-top: 4rem;
			margin-bottom: 4rem;
			// margin-left: -0.3rem;

			@media only screen and (max-width: $bp-small) {
				margin-top: 2rem;
				margin-bottom: 2rem;
				margin: 0em;
			}
		}
	}

	&__pic {
		margin-left: 16rem;
		margin-top: -8rem;

		@media only screen and (max-width: $bp-largest) {
			// margin-top: 2rem;
			margin-left: 2rem;
		}
		@media only screen and (max-width: $bp-medium) {
			// margin-top: 2rem;
			margin-left: 24em;
		}

		@media only screen and (max-width: $bp-small) {
			margin-top: 2rem;
			margin-left: 4rem;
		}
	}

	&__img {
		max-height: 44.5vh;

		// max-width: 30vw;

		@media only screen and (max-width: $bp-largest) {
			max-height: 25vh;
			// max-width: 30vw;
		}

		@media only screen and (max-width: $bp-medium) {
			max-height: 25vh;
			// max-width: 30vw;
		}

		@media only screen and (max-width: $bp-small) {
			max-height: 44.5vh;
		}
	}
}
