.about {
	background-color: white;
	margin: 2em;

	@media only screen and (max-width: $bp-small) {
		padding: 1rem;
	}

	&__text {
		&--1 {
			// margin: 2rem;
			margin-top: 4rem;
			margin-bottom: 4rem;
			// margin-left: -0.3rem;

			@media only screen and (max-width: $bp-small) {
				margin-top: 2rem;
				margin-bottom: 2rem;
			}
		}
	}

	&__img {
		max-height: 52.5vh;
		max-width: 30vw;

		@media only screen and (max-width: $bp-medium) {
			max-height: 55vh;
			// max-width: 30vw;
		}

		@media only screen and (max-width: $bp-small) {
			max-width: 70vw;
			height: 40vh;
			margin-top: -6rem;
			margin-bottom: -3rem;
		}
	}
}
