html {
	font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

	@media only screen and (max-width: $bp-largest) {
		font-size: 50%;
	}
	@media only screen and (max-width: $bp-large) {
		font-size: 40%;
	}
	@media only screen and (max-width: $bp-medium) {
		font-size: 30%;
	}
	@media only screen and (max-width: $bp-small) {
		font-size: 20%;
	}
	@media only screen and (max-width: $bp-smallest) {
		font-size: 15%;
	}
}

a {
	text-decoration: none;
	color: black;
}

.social {
	list-style: none;
}

.nav__link {
	// color: white;
	// font-size: $medium-font-size-5;

	@media only screen and (max-width: $bp-medium) {
		font-size: $big-font-size;
		font-weight: 600;
	}

	@media only screen and (max-width: $bp-small) {
		font-size: $huge-font-size-4;
	}
}

.welcome {
	&__text {
		&--1 {
			font-size: $huge-font-size;
			font-family: $welcome-font-1;
			color: white;

			@media only screen and (max-width: $bp-small) {
				font-size: $huge-font-size-4;
			}
		}

		&--2 {
			font-size: $big-font-size;
			font-family: $welcome-font-2;
			color: $text-color-1;

			@media only screen and (max-width: $bp-small) {
				font-size: $huge-font-size-3;
			}
		}

		&--btn {
			font-size: $small-font-size;
			font-family: $welcome-font-2;
			// color: black;

			@media only screen and (max-width: $bp-medium) {
				font-size: $small-font-size-2;
			}

			@media only screen and (max-width: $bp-small) {
				font-size: $huge-font-size-3;
			}
		}
	}
}

.about {
	&__text {
		&--1 {
			font-size: $big-font-size;
			font-family: $welcome-font-2;
			color: $text-color-1;

			@media only screen and (max-width: $bp-small) {
				font-size: $huge-font-size-2;
			}
		}
		&--2 {
			font-size: $small-font-size;
			font-family: $welcome-font-3;
			font-weight: 400;

			@media only screen and (max-width: $bp-medium) {
				font-size: $small-font-size-2;
			}

			@media only screen and (max-width: $bp-small) {
				font-size: $huge-font-size-3;
			}
		}
		&--3 {
			font-size: $small-font-size;
			font-family: $welcome-font-3;
			font-weight: 300;

			@media only screen and (max-width: $bp-medium) {
				font-size: $small-font-size-2;
			}

			@media only screen and (max-width: $bp-small) {
				font-size: $huge-font-size-3;
			}
		}
		&--4 {
			font-size: $small-font-size;
			font-family: $welcome-font-3;

			font-weight: 300;
			@media only screen and (max-width: $bp-medium) {
				font-size: $small-font-size-2;
			}

			@media only screen and (max-width: $bp-small) {
				font-size: $huge-font-size-3;
			}
		}
		&--5 {
			font-size: $small-font-size;
			font-family: $welcome-font-3;
			font-weight: 300;

			@media only screen and (max-width: $bp-medium) {
				font-size: $small-font-size-2;
			}

			@media only screen and (max-width: $bp-small) {
				font-size: $huge-font-size-3;
			}
		}
		&--6 {
			font-size: $small-font-size;
			font-family: $welcome-font-3;
			font-weight: 300;

			@media only screen and (max-width: $bp-medium) {
				font-size: $small-font-size-2;
			}

			@media only screen and (max-width: $bp-small) {
				font-size: $huge-font-size-3;
			}
		}
	}
}

.myprojects {
	&__text {
		&--1 {
			font-size: $big-font-size;
			font-family: $welcome-font-2;
			color: $text-color-1;

			@media only screen and (max-width: $bp-small) {
				font-size: $huge-font-size-2;
			}
		}
		// &--2 {
		// 	font-size: $small-font-size;
		// 	font-family: $welcome-font-3;
		// 	font-weight: 400;
		// }
		// &--3 {
		// 	font-size: $small-font-size;
		// 	font-family: $welcome-font-3;
		// 	font-weight: 300;
		// }
		// &--4 {
		// 	font-size: $small-font-size;
		// 	font-family: $welcome-font-3;
		// 	font-weight: 300;
		// }
		// &--5 {
		// 	font-size: $small-font-size;
		// 	font-family: $welcome-font-3;
		// 	font-weight: 300;
		// }
		// &--6 {
		// 	font-size: $small-font-size;
		// 	font-family: $welcome-font-3;
		// 	font-weight: 300;
		// }
	}

	&__box {
		font-size: $general-font-size;

		@media only screen and (max-width: $bp-medium) {
			font-size: $small-font-size-2;
		}

		@media only screen and (max-width: $bp-small) {
			font-size: $big-font-size-2;
		}
	}
}

.header {
	font-size: $small-font-size;
	font-family: $welcome-font-2;
}

.nav {
	&__links {
		list-style: none;
	}
	&__link {
		text-decoration: none;
		// color: white;
		color: $text-color-1;
	}
}

.footer {
	font-size: $small-font-size;
	font-family: $welcome-font-1;
	color: $text-color-1;

	@media only screen and (max-width: $bp-small) {
		font-size: $huge-font-size;
	}
}

.popup__close {
	font-size: $big-font-size;

	@media only screen and (max-width: $bp-small) {
		font-size: $huge-font-size-4;
	}
}

.form {
	&__headline {
		// color: white;
		color: $welcome-bg-color;
		font-size: $medium-font-size;
		font-family: $welcome-font-2;

		@media only screen and (max-width: $bp-small) {
			font-size: $huge-font-size-4;
		}
	}
	&__label {
		// color: white;
		font-size: $small-font-size;
		font-family: $welcome-font-2;

		@media only screen and (max-width: $bp-small) {
			font-size: $huge-font-size-3;
		}
	}
	&__input {
		font-size: $small-font-size;
		font-family: $welcome-font-1;

		@media only screen and (max-width: $bp-small) {
			font-size: $huge-font-size-3;
		}
	}

	&__btn {
		font-size: $small-font-size;
		font-family: $welcome-font-2;

		@media only screen and (max-width: $bp-small) {
			font-size: $huge-font-size-3;
		}
	}
}

textarea {
	font-size: $small-font-size;
	font-family: $welcome-font-1;

	@media only screen and (max-width: $bp-small) {
		font-size: $huge-font-size-3;
	}
}
